@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
    background-image: linear-gradient(to left top, #f7ff00, #1af77a, #00ddd5, #00b7ff, #1286eb) ;
}

.content{
    color: whitesmoke;
    padding-bottom: 100px;
}

.nav-img {
    height: 60px;
    width: 60px;
}

.carousel .slide{
    height: 100px;
}
.corosal-container {
    /* height: 200px;
    width: 200px; */
    margin: 20px;
    height: 50%;
    width: 50%;
    text-align: center;
    padding-bottom: 100px;
    /* display: flex;
    flex-direction: ;
    justify-content: center; */

}
.emoento {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}